<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">

      <ul class="nav pull-left">   
        <li>
          <%= link_to start_page_path, class: "btn btn-xs btn-default" do %>
            <i style="font-size:2.0em;" class="glyphicon glyphicon-home"></i>
          <% end %>
        </li>
      </ul>

      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-sm btn-default" do %>
        <i style="font-size:1.2em;" class="glyphicon glyphicon-chevron-left"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-sm btn-default" do %>
        <i style="font-size:1.2em;" class="glyphicon glyphicon-chevron-right"></i>
      <% end %>

      <ul class="nav pull-right">
        <li>
          <%= link_to events_path, class: "btn btn-xs btn-primary" do %>
            <i style="font-size:2.0em;" class="glyphicon glyphicon-list"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= date.day %>  
    <% end %>
  </div>
</div>