<% if @event.video.nil? %>
  <% if signed_in? %>
    <%= render 'videos/add_form' %>
  <% end %>
<% else %>
  <div class="video_container">
    <%= youtube_embed(@event.video.link) %>
    <% if signed_in? %>
      <div class="remove_video_container">
        <%= link_to event_video_path(@event),
            id: "deletion",
            class: "btn btn-danger btn-circle has-tooltip",
            method: :delete,
            data: {
                  confirm: ' ',
                  title: 'Delete',
                  msg: 'Are you sure you want to delete?'
                  } do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    <% end -%>
  </div>
  <div class="col-xs-12">
    <p class="pull-right">
      <% if @event.video.title? %>
        <strong>Title:</strong> <%= @event.video.title %>
      <% end -%>
      <strong>Added:</strong> <%= get_timestamp(@event.video.published_at) %>
    </p>
  </div>
  <% if signed_in? %>
    <div class="col-xs-12">
      <h3 class="pull-left" style="padding-left:10px;"><small>Update Video</small></h3>
    </div>
    <br>
    <%= render 'videos/update_form' %>
  <% end %>
<% end %>



