<% if @event.errors.any? %>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11">
      <div id="error_explanation">
        <h4>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this event from being saved:
        </h4>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <%= form_for :event, url: event_path(@event), :html => {:class => "form-horizontal", :role => "form"}, method: :patch do |form| %>
    <div class="col-xs-6">
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10" id="form_title">
          <h2>Edit Training</h2>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :title, class: "control-label col-xs-2" %>
        <div class="col-xs-10">
          <div class="input-group">
            <%= form.text_field :title, type: "text", class: "form-control" %>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-header"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= form.label "Description", class: "control-label col-xs-2" %>
        <div class="col-xs-10">
          <div class="input-group">
            <%= form.text_area :text, type: "text", class: "form-control" %>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" id="starttime_field">
        <%= form.label :starttime, class: "control-label col-xs-2" %>
        <div class="col-xs-4">
          <div class="input-group">
            <%= form.text_field :starttime_time, type: "text", :placeholder => 'hh:mm', :class => 'form-control', :size => 5, :maxlength => 5 %>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <%= form.text_field :starttime_date, type: "text", :placeholder => 'vvvv-kk-pp', :class => 'datepicker form-control', :size => 10, :maxlength => 10 %>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" id="endtime_field">
        <%= form.label :endtime, class: "control-label col-xs-2" %>
        <div class="col-xs-4">
          <div class="input-group">
            <%= form.text_field :endtime_time, type: "text", :placeholder => 'hh:mm', :class => 'form-control', :size => 5, :maxlength => 5 %>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <%= form.text_field :endtime_date, type: "text", :placeholder => 'vvvv-kk-pp', :class => 'datepicker form-control', :size => 10, :maxlength => 10 %>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= form.submit "Save Changes", class: "btn btn-xsmall btn-success", style: "color: white"%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= link_to event_path(@event),
            class: "btn btn-small btn-primary",
            style: "color: white" do %>
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-xs-6" id="video_container">
    <%= render 'videos/video' %>
  </div>
</div>

