<div class="events_index panel panel-default">
  <div class="events panel-heading clearfix">
    <p class="panel-title pull-left"><strong>All Events</strong></p>
    <% if signed_in? %>
      <div class="btn-group pull-right">
        <%= link_to new_event_path,
            class: "btn btn-md btn-success has-tooltip",
            data: {
              title: 'New Event',
              placement: 'top'
            } do %>
          <i style="font-size:2.0em;" class="glyphicon glyphicon-plus"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @events.empty? %>
    <div class="no_events">
      <h3>No Events found!</h3>
      <p>Add new events!</p>
    </div>
  <% else %>
  <div class="list_events panel-body">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="events_headers">
          <th>Title</th>
          <th>Text</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Date</th>
        </tr>
      </thead>
      <% @events.each do |ev| %>
      <tbody>
        <tr>
          <td><%= ev.title %></td>
          <td><%= ev.text %></td>
          <td>
            <%= ev.starttime_time %>
          </td>
          <td>
            <%= ev.endtime_time %>
          </td>
          <td>
            <%= parse_date(ev.endtime_date) %>
          </td>
          <td>
            <div class="btn_container pull-right">
              <%= link_to event_path(ev),
                  id: "show_event_btn",
                  class: "btn btn-sm btn-info has-tooltip",
                  style: "color: white",
                  data: {title: 'Show details'} do %>Show
              <% end %>
              <%= content_tag(:span, Exercise.exercise_count(ev.id), class: "button badge") if Exercise.exercise_count(ev.id) > 0 %>
            </div>
          </td>
          <% if signed_in? %>
            <td>
              <%= link_to edit_event_path(ev),
                  class: "btn btn-sm btn-primary pull-right has-tooltip",
                  data: { title: 'Edit' } do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to event_path(ev),
                  id: "deletion",
                  class: "btn btn-sm btn-danger pull-right has-tooltip",
                  method: :delete,
                  data: {
                        confirm: ' ',
                        title: 'Delete',
                        msg: 'Are you sure you want to delete this Event?'
                        } do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <% end %>
</div>

<!-- Navigation -->
<div class="row">
  <div class="col-xs-12">
    <div class="return_btn">
      <%= link_to events_path,
          class: "btn btn-small btn-primary",
          style: "color: white" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Calendar
      <% end %>
    </div>
  </div>
</div>
>

