<!-- Possible notifications -->
<div class="show_container">

  <%= render 'shared/flash' %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3><strong><%= @event.title %></strong></h3>
    </div>
    <div class="panel-body">
      <p>
        <strong>Text:</strong>
        <%= @event.text %>
      </p>
      <p>
        <strong>Start time:</strong>
        <%= @event.starttime %>
      </p>
      <p>
        <strong>End Time:</strong>
        <%= @event.endtime %>
      </p>
    </div>

    <div class="exercises_container">
      <%= hidden_field_tag("current_ex", value = "") %>
      <h3>Exercises</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Exercise name</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <%= render @event.exercises %>
        </tbody>
      </table>
      <p>
        <h3>Add new exercise</h3>
        <%= render 'exercises/form' %>
      </p>
    </div>

  </div>

  <!-- Navigations -->
  <div class="return_btn">
    <%= link_to 'To Events', events_path, class: "btn btn-small btn-primary", style: "color: white" %>
  </div>
  <!-- Debug -->
  <!-- <%= debug @event %> -->
</div>
