<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>
<p>
  <strong>Start time:</strong>
  <%= @event.starttime %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @event.endtime %>
</p>

<!-- Navigations -->
<p>
  <%= link_to 'To Events', events_path, class: "btn btn-small btn-primary", style: "color: white" %>
<p/>
<%= debug @event %>