<!-- Possible notifications -->
<div class="show_container row">
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading clearfix">
        <p class="panel-title pull-left"><strong><%= @event.title %></strong></p>
        <p class="date pull-right"><strong><%= parse_date(@event.starttime_date) %></strong></p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6" id="description">
            <p>Description: <strong><%= @event.text %></strong></p>
            <p>Start: <strong><%= @event.starttime_time %></strong></p>
            <p>End: <strong><%= @event.endtime_time %></strong></p>
          </div>
          <div class="col-xs-6" id="media_container">
            <p>MEdia Container</p>
          </div>
        </div>
        <div class="row">
          <div class="exercises_container col-xs-12">
            <%= hidden_field_tag("current_ex", value = "") %>
            <% if @event.exercises.empty? %>
              <div class="no_events">
                <p><font size="4.0em">No Exercises yet!</font> - Add some...</p>
              </div>
            <% else %>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Exercise</th>
                    <th>Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @event.exercises %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="row">
            <div class="add_exercise col-xs-6">
                  <h4 class="title_add_exercise col-xs-offset-3 col-xs-9">Add new exercise</h4>
                  <%= render 'exercises/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigations -->
  <div class="return_btn">
    <%= link_to 'Back to Events', events_path, class: "btn btn-small btn-primary", style: "color: white" %>
  </div>
</div>
