
<tr class="update_form form-horizontal", style="display:none">
  <%= form_for [@update_ex.event, @update_ex] , :html => {:class => "form-group", :role => "form"} do |f| %>
    <td>
      <%= f.text_field :desc %>
    </td>
    <td>
      <%= f.text_field :duration %>
    </td>
    <td>
      <%= button_tag( type: "submit",
                      class: "update_ex_ok btn btn-sm btn-success has-tooltip",
                      style: "color: white",
                      data: { title: 'Save' }
                    ) do %>
        <i class="glyphicon glyphicon-ok"></i>
      <% end %>
      <%= button_tag( type: "button",
                      class: "update_ex_cancel btn btn-sm btn-warning has-tooltip",
                      style: "color: white",
                      data: { title: 'Cancel' }
                    ) do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </td>
  <% end %>
</tr>


